/*-- scss:defaults --*/
// Base document colors
$light-bg: rgba(253, 246, 227);
$light-yl: rgb(227, 177, 96);

$navbar-bg: $light-yl;
$body-bg: $light-bg;
$link-color: #75AADB;

// Code blocks
// $code-block-bg-alpha: -.8;
$code-block-bg: rgb(255 239 197);

div.sourceCode {
    border: 1px solid lightgrey !important;
}